<a href="https://colab.research.google.com/github/thinkinchicken/food-sales-predictions/blob/main/Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
file_path = "/content/drive/MyDrive/Colab Notebooks/01 Week 1: Python/sales_predictions.csv"
sales_predictions = pd.read_csv(file_path)
sales_predictions.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [2]:
#1) How many rows and columns?
sales_predictions.shape
#8523 rows and 12 columns

(8523, 12)

In [3]:
#2) What are the datatypes of each variable?
sales_predictions.info()
#Shows that datatypes are objects and floats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
#3) Are there duplicates? If so, drop any duplicates.
sales_predictions.duplicated().any()
#Output says no duplicated data.

False

In [5]:
#4) Identify missing values.
sales_predictions.info()
# Looks like there are a couple Null values in Item Weight and Outlet Size column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
#5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
#Find the range of Item_Weight Column to see how large of a range Item Weight goes across and how much it can vary
print(sales_predictions['Item_Weight'].min())
print(sales_predictions['Item_Weight'].max())
# I will in the NA values for the Item_Weight column with the mean since the range is not that large
sales_predictions['Item_Weight'] = sales_predictions['Item_Weight'].fillna(sales_predictions['Item_Weight'].mean())

4.555
21.35

In [7]:
#Checking if filling the NA values for item weight worked
sales_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
#For the Outlet_Size column, I would like to check the range of Item_Outlet_Sales range to see if it's comparable to Outlet_Size
print(sales_predictions['Item_Outlet_Sales'].min())
print(sales_predictions['Item_Outlet_Sales'].max())
# I see that the Item Outlet Sales has a pretty broad range

33.29
13086.9648

In [9]:
#Checking the current distrubution and value counts of the Outlet sizes
sales_predictions['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [12]:
#Deciding to fill in the gaps within Outlet_Size as "Missing" so not to skew the data since it is a pretty good chunk that is missing. 
#Also realizing it is a string a simple mean fill or backfill or frontfill will work
sales_predictions['Outlet_Size'] = sales_predictions['Outlet_Size'].fillna('missing')
sales_predictions.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [13]:
#6) Confirm that there are no missing values after addressing them.
sales_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [25]:
#7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 
#Checking each individual column that hass an object datatype
sales_predictions['Item_Identifier'].value_counts()  #Good to go
sales_predictions['Item_Fat_Content'].value_counts() #Needs work
sales_predictions['Item_Type'].value_counts() #Good to go
sales_predictions['Outlet_Identifier'].value_counts() #Good to go
sales_predictions['Outlet_Type'].value_counts()  # Good to go

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [22]:
#Working on Item_Fat_Content column because there are inconsistencies
sales_predictions['Item_Fat_Content']= sales_predictions['Item_Fat_Content'].replace({'LF':'Low Fat', 'reg':'Regular', 'low fat': 'Low Fat'})
#Checking to see if it worked
sales_predictions['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [31]:
#8) For any numerical columns, obtain the summary statistics of each (min, max, mean)
integer_columns = sales_predictions.select_dtypes(include=['float64']).columns
print(integer_columns)
sales_predictions[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales']].describe()

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales'], dtype='object')

       Item_Weight  Item_Visibility     Item_MRP  Item_Outlet_Sales
count  8523.000000      8523.000000  8523.000000        8523.000000
mean     12.857645         0.066132   140.992782        2181.288914
std       4.226124         0.051598    62.275067        1706.499616
min       4.555000         0.000000    31.290000          33.290000
25%       9.310000         0.026989    93.826500         834.247400
50%      12.857645         0.053931   143.012800        1794.331000
75%      16.000000         0.094585   185.643700        3101.296400
max      21.350000         0.328391   266.888400       13086.964800